#Ignore Everything By Default
*


#Allow Certain Folders/Files To Be Tracked
!nvim/
!nvim/**
!fish/
!fish/config.fish
!starship.toml

#Keep .gitignore Tracked
!.gitignore
!README.md

**/*Zone.Identifier*
